<div id="sidebar-categories-container" class="vector-pinned-container">
  <div class="vector-main-menu vector-pinnable-element">
    <div class="vector-pinnable-header vector-main-menu-pinnable-header vector-pinnable-header-pinned">
      <div class="vector-pinnable-header-label">Catégories</div>
    </div>

    <div class="vector-menu mw-portlet mw-portlet-navigation">
      <div class="vector-menu-content">
        <ul class="vector-menu-content-list">
          {{#sidebar-categories}}
            <li class="mw-list-item">{{{.}}}</li>
          {{/sidebar-categories}}
        </ul>
      </div>
    </div>
  </div>
</div>
