<div class="separator">{{title}}</div>

<ul class="container row row-cols-1">
  {{#items}}{{>NavigationMenu/MenuItem}}{{/items}}
</ul>

{{#subContainers}}{{>NavigationMenu/MenuSubContainer}}{{/subContainers}}
